.git
.gitignore
.idea
.vscode
.agent
.angular
.nx

node_modules
.pnpm-store

apps/native/src-tauri/target
apps/native/src-tauri/gen

coverage
dist
tmp

.env
.env.*
**/.env

*.log
*.tmp
*.temp

Dockerfile
